[submodule "vk-bootstrap"]
	path = vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
[submodule "VulkanMemoryAllocator"]
	path = VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "examples/20_render_pipeline/libs/stb"]
	path = examples/20_render_pipeline/libs/stb
	url = https://github.com/nothings/stb.git
